<% if model %>
<div id="avatar"> 
  <span>
  	<% if model.images.first %>
    	<%= link_to image_tag(smallThumb(model), class: "ui-corner-all"), bigThumb(model), class: "colorbox" %>
    <% else %>
    	<%= image_tag smallThumb(model), class: "ui-corner-all" %>
    <% end %>
  </span>
</div>
<% end %>
