<% if logged_in? %>
  <div id="comment-form">
    <%= render :partial => "comments/form", :locals => {:commentable => commentable} %>
  </div>
<% end %>      
<div id="comments-count">
  <h3><%= t("comments.comments") %> (<%= comments.size %>)</h3>
</div>   
<div id="comments">
<% if comments.size > 0 %>
  <% comments.each do |comment| %> 
    <%= render :partial => "comments/comment", :locals => { :comment => comment} %>
  <% end %>
<% end %>      
</div>