<% if target.errors.any? %>  
<div id="errorExplanation" class="errorExplanation">  
  <p><%= t("errors.template.body").html_safe %></p>
    <ul>
  <% target.errors.full_messages.each do |msg| %>
    <li><%= msg.html_safe %></li>
  <% end %>
  </ul>
</div>  
<% end %>  
