<ul class="item-collection">
  <% for itemType in itemTypes do %>

    <li>
      <% if need == 1
          action = :needed
        else
          action = :offered
        end
      %>
      <% if params[:user_id] %>
        <%= link_to  image_tag(("icons/icon_" + itemType.title).downcase + ".png") + t( itemType.title.downcase, :count => resources[itemType.title.downcase.to_sym][action].size ).html_safe, 
            user_items_path( @user, 
                             "q[item_type_id_eq]" => itemType.id, 
                             "q[need_eq]" => need, 
                             "q[user_id_eq]" => @user.id )
        %>
      <% else %>
        <%= link_to image_tag(("icons/icon_" + itemType.title).downcase + ".png") + t( itemType.title.downcase, :count => resources[itemType.title.downcase.to_sym][action].size ).html_safe, 
            items_path( "q[item_type_id_eq]" => itemType.id,
                        "q[need_eq]" => need )
        %>
      <% end %>
    </li>
  <% end %>
</ul>