<div class="tiny-user-thumb bordered font-smaller center ui-corner-all">
  <% if item.images && item.images.first %>
  <%= link_to image_tag(tinyThumb(item), :alt => item.title, :title => item.title), item %>
  <br />
  <% end %>
  <%= link_to shorten(item.title, 10), item %>
</div>