<ul class="item-collection">
  <% for itemType in itemTypes do %>

    <li>
      <% if need == 1
					i = eval "resources.#{itemType.title.downcase}.needed"
        else
					i = eval "resources.#{itemType.title.downcase}.offered"
        end
      %>
      <% if @itemable %>
        <% if i.size.to_i == 1 %>
          <%= link_to  image_tag(("icons/icon_" + itemType.title).downcase + ".png") + t( itemType.title.downcase, :count => i.size ).html_safe,
             i.first 
          %>  
        <% else %>
          <%= link_to  image_tag(("icons/icon_" + itemType.title).downcase + ".png") + t( itemType.title.downcase, :count => i.size ).html_safe, 
              items_path("q[item_type_id_eq]" => itemType.id, 
                         "q[need_eq]" => need, 
                         "q[itemable_id_eq]" => @itemable.id,
                         "q[itemable_type_eq]" => @itemable.class.to_s
						 )
          %>
        <% end %>
      <% end %>
    </li>
  <% end %>
</ul>
