<%# gmaps4rails(locations) %>
<%= gmaps({
    "map_options" => {"auto_zoom" => false, "zoom" => 15, "detect_location" => true, "auto_adjust" => true},
    "markers" => {"data" => locations}
  }) %>
