<div class="sub2cols">
  <div class="subcol1">
    <h2>[Subcol1]</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ut aliquet nisl. Suspendisse in nisl lectus, ac interdum eros. Nunc ac ligula ornare odio faucibus accumsan. Sed tempor congue lacus, nec porttitor nulla pellentesque eu.
    </p>
  </div>
  <div class="subcol2">
    <h2>[Subcol2]</h2>
    <p>
      ivamus porttitor metus sed lorem faucibus volutpat. Quisque laoreet ligula eget augue laoreet feugiat. Etiam lorem eros, egestas a ultricies at, porta eu nisi. Donec bibendum luctus mollis. Aliquam massa massa, sollicitudin nec molestie vitae, bibendum a nibh.
    </p>
  </div>
  <div class="clearfix" />
</div>