<div class="tiny-user-thumb bordered font-smaller center ui-corner-all">
  <%= link_to image_tag(tinyThumb(user), :alt => user.login, :title => user.login), user %>
  <br />
  <%= link_to user.login, user %>
</div>