<div id="search">
  <div id="searchform">
  <% form_for items_path, :method => :get do |f| %>
    <%= select("item", "need", {"I need" => "1", "I have" => "0"}, :prompt => 'What you want?') %>
    <%= text_field_tag :search_string, params[:search_string] %>
    <%= submit_tag "Go", :name => nil %>
  <% end %>
  </div>
<!--
  <div id="searchmenu">
    <ul class="menu vertical">
      <li><a href="#">Help</a></li>
      <li><a href="#" id="advanded_search">Advanced Search</a></li>
    </ul>
  </div>
-->
</div>