.DS_STORE
*~
.sass-cache/
.project
.htaccess
Thumbs.db
.bundle/
db/schema.rb
db/development.sqlite3
db/production.sqlite3
db/test.sqlite3
log/*
tmp/*
rdoc/*
public/system/*
public/assets/*
public/.htaccess
nbproject/*       
vendor/bundle/*
Gemfile.lock
/nbproject/private/
config/database.yml
config/email.yml

