.DS_STORE
.project
.htaccess
Thumbs.db
.bundle/
db/development.sqlite3
db/test.sqlite3
log/*
tmp/*
rdoc/*
public/system/*
nbproject/*       
vendor/bundle/*
Gemfile.lock
/nbproject/private/
config/database.yml
config/email.yml