<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    Hallo <%= @user.login %>,
    <br />
    Dein Account wurde deaktiviert.
    <br />
		Klicke auf diesen Link, um dein Konto wieder zu aktivieren:
		<%= @activation_url %>    
		<br />
    <br />
    <br />
    Dein
    <br />
    IWYG-Team
  </body>
</head>
