<p>
  <b>Title:</b>
  <%=h @item_status.title %>
</p>

<p>
  <b>Description:</b>
  <%=h @item_status.description %>
</p>


<%= link_to 'Edit', edit_item_status_path(@item_status) %> |
<%= link_to 'Back', item_statuses_path %>