<% if user_signed_in? and user.login != current_user.login %>
  <ul class="font-smaller horizontal">
    <li class="button">
      <%= link_to t("menu.user.sendMessage"), new_sent_path(:to => user), :remote => true, :id => "send_message" %>
    </li>
    <% if not user.followed_by?(current_user) %>
      <%= render :partial => "share/social/follow", :locals => { user: current_user, model_id: user.id, model_type: "User"} %>
    <% else %>
      <%= render :partial => "share/social/unfollow", :locals => { user: current_user, model_id: user.id, model_type: "User"} %>
    <% end %>
  </ul>
<% end %>
