/* COMMENTS */

#comment_body {
  width:70%;
  height:20px;
  clear:both;
}
#comment_submit {
  margin-bottom:1em;
}
#comments {
}
#comments .comment {
  background:#EDEFDF;
  border: 1px solid #E5EABB !important;
  border: 1px inset;
  padding:0.5em;
  clear:both;
  min-height:75px;
  margin-bottom:1em;
}
#comments .comment .image {
  float:left;  
  padding-right:0.5em;
  text-align:center;
  width:50px;
}
#comments .comment .text {
    padding-top:0;
}
#comments .comment .date {
  display:block;
  height:14px;
  position:relative;
  right:4px;
  text-align:right;
  opacity:0.5;
  -moz-opacity:0.5;
  font-size:8pt;
}

#comment-form fieldset {
    background: none;
    margin:0;
    padding:0;
}
#comment-form .inputs {
    float: left;
}
#comment-form .buttons {
    width:12%;
    
}
#comment-form #comment_submit {
    font-size:80%;
    border: 1px outset;
}
#comment-form #comment_submit:hover {
    cursor: pointer;
}
#comment-form #comment_submit:active {
     border: 1px inset;
}