.menu {
  padding:0;
  margin:0;
}
.horizontal {
  clear:both;
}
.horizontal li {
  float:left;
}
.horizontal li #ajaxful-rating-item-5 {
  float: left;
}

.vertical li {
  display:block;
}

.tabNavigation {
  padding:0.5em !important; 
}

.usermenu {
  position:absolute;
  text-align:left;
  background: #59674c;
  margin-top:0.1em;
  z-index:9999;
  padding:0.2em;
}
.centered .usermenu {
  left: 45%;
}
.usermenue {
  text-align:left;
  background: #59674c;
  margin-top:1em; 
  font-family: "Georgia";  
}
.usermenue ul {
  padding-top:0.5em;
}
.usermenue ul li,
.usermenu ul li {
  color: #ffb862;
  font-weight:bold; 
  padding:0.5em;
  margin:0.2em;  
  background: #87A87B;
}
.usermenue a,
.usermenu a {
  display:block;
  font-weight:bold;
  text-indent:0em;
}
.usermenue li:hover { 
  background: #f8fcea;  
}

.usermenu a:hover {
  text-decoration:none;
  background: transparent;
  color: #ffb862;
}
.folder {

}

.folder ul {
  margin-top:0px;
}
.pagination {
  font-weight:bold;
  font-size:80%;
  padding-top:0.3em;
  padding-bottom:0.3em;
  text-align:center;
}
.pagination .current {
  color:white;
}
.pagination span,
.pagination em,
.pagination a {
  padding:0.5em;
  height:40px;
  min-width:40px;
  -moz-border-radius: 2px 2px 2px 2px;
  -webkit-border-radius: 2px 2px 2px 2px;
  border-radius: 2px 2px 2px 2px;
  border: 1px solid #B8C2B3;
  -moz-border: 1px solid #B8C2B3;
  -webkit-border: 1px solid #B8C2B3;

  text-decoration:none;
}
.pagination span:hover,
.pagination a:hover {

  background: #D8E0D0;
}
.pagination img {
  position:relative;
  top:3px;
}