/**
 * General style definition.
 * 
 * @author Christian Grlica
 * @copyright 2011 by Heavenseven, www.heavenseven.net 
*/
@import url(global/main.css);
@import url(extensions.css);

/* Container */
#container {
    padding:0em;
    text-align:center;
    position:relative;
    z-index:1;
}
/* Header */

#header {
    background: none repeat scroll 0 0 #0B0D14;
    background: #237e87; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzIzN2U4NyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM1YWI4ZGQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #237e87 0%, #5ab8dd 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#237e87), color-stop(100%,#5ab8dd)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #237e87 0%,#5ab8dd 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #237e87 0%,#5ab8dd 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #237e87 0%,#5ab8dd 100%); /* IE10+ */
    background: linear-gradient(top,  #237e87 0%,#5ab8dd 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#237e87', endColorstr='#5ab8dd',GradientType=0 ); /* IE6-8 */

    -webkit-box-shadow: 0px 15px 1px 1px #757b81;
    -moz-box-shadow: 0px 15px 1px 1px #757b81;
    box-shadow: 0px 2px 15px 1px #757b81;

    border-bottom: 1px solid #7FC2DB;
    clear: both;
    color: #555;
    height: 110px;
    text-align: left;
    width: 100%;
    overflow:hidden;
}

#header p, #header h1, #header h2 {
    padding:.4em 1.5em 0 1.5em;
    margin:0;
}
#header #languages {
    padding:0;
    margin:0;
    position:absolute;
    right:2.1em;
    top:6em;
    font-size:80%;
}

#header #languages a {
    text-decoration:none;
}

#header #languages li {
    float:left;
    padding-left:0.3em;
    padding-right:0.3em;
}

/* Columns */
#col1, #col2 {
    position:relative;
    width:48%;
    padding:0.5em;
}
#col1 {
    float:left;
}
#col2 {
    float:left;
}
/* Logo */
#logo {
    float: left;
    position:relative;
    left:7.5%;
    top:12px;
    z-index: 99;
}

/* Content  */
#content {
    background:transparent url(../images/content_bg.png);
    border:1px solid #d6daca;
    -moz-border-radius:16px;
    -webkit-border-radius:16px;
    border-radius:16px 16px;

    color:#3f1504;
    height:auto !important;
    min-height:700px;
    margin:0 auto 0 4%;
    padding:0.5em;
    text-align:left;
    width:90%;
    float:left;
}
/* Mailbox */
#mailbox {
}
#mailbox .messagebody {
    padding:0.5em;
    border:1px solid #cbcec0;
    background: #eaede3;
    height:250px;
}
#new-message {
    padding:0.5em;
    padding-left:1.5em;
    background: #d6daca url(../images/icons/icon_message_add.png) 4px 10px no-repeat;
    border:1px solid #d6daca;
}
a#new-message:hover {
    background: #d6f4ca url(../images/icons/icon_message_add.png) 4px 10px no-repeat;
}
/* Footer  */
#footer {
    clear:both;
    position:relative;
    width:100%;
    height:150px;
    margin:0pt auto;
    font-size:80%;
    color:#794D4D;
    line-height:1em!important;
    text-align:left;
    background:#9eb87c;
}
#footer {
    padding:.5em;
}
#footer #footernavigation {
    width:1000px;
    margin: 0px auto;
    display:block;
}
#footer a {
    color:#5c5e5f;
}

#footerwrap {
    clear:left;
    z-index:100;
}

#weed {
    background:transparent url(../images/global/bg_footer.png) repeat-x scroll 0 6px;
    height:20px;
    margin-top:0.5em;
    padding:0 10px 9px;
    text-align:center;
}

/* Example tokeninput style #1: Token vertical list*/
ul.token-input-list {
    overflow: hidden; 
    height: auto !important; 
    height: 1%;
    width: 400px;
    border: 1px solid #999;
    cursor: text;
    font-size: 12px;
    font-family: Verdana;
    z-index: 999;
    margin: 0;
    padding: 0;
    background-color: #fff;
    list-style-type: none;
    clear: left;
}

ul.token-input-list li {
    list-style-type: none;
}

ul.token-input-list li input {
    border: 0;
    width: 350px;
    padding: 3px 8px;
    background-color: white;
    -webkit-appearance: caret;
}

li.token-input-token {
    overflow: hidden; 
    height: auto !important; 
    height: 1%;
    margin: 3px;
    padding: 3px 5px;
    background-color: #d0efa0;
    color: #000;
    font-weight: bold;
    cursor: default;
    display: block;
}

li.token-input-token p {
    float: left;
    padding: 0;
    margin: 0;
}

li.token-input-token span {
    float: right;
    color: #777;
    cursor: pointer;
}

li.token-input-selected-token {
    background-color: #08844e;
    color: #fff;
}

li.token-input-selected-token span {
    color: #bbb;
}

div.token-input-dropdown {
    position: absolute;
    width: 400px;
    background-color: #fff;
    overflow: hidden;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    cursor: default;
    font-size: 12px;
    font-family: Verdana;
    z-index: 1;
}

div.token-input-dropdown p {
    margin: 0;
    padding: 5px;
    font-weight: bold;
    color: #777;
}

div.token-input-dropdown ul {
    margin: 0;
    padding: 0;
}

div.token-input-dropdown ul li {
    background-color: #fff;
    padding: 3px;
    list-style-type: none;
}

div.token-input-dropdown ul li.token-input-dropdown-item {
    background-color: #fafafa;
}

div.token-input-dropdown ul li.token-input-dropdown-item2 {
    background-color: #fff;
}

div.token-input-dropdown ul li em {
    font-weight: bold;
    font-style: normal;
}

div.token-input-dropdown ul li.token-input-selected-dropdown-item {
    background-color: #d0efa0;
}



/* -------------------------------------------------------------------------------------------------

It's *strongly* suggested that you don't modify this file.  Instead, load a new stylesheet after
this one in your layouts (eg formtastic_changes.css) and override the styles to suit your needs.
This will allow you to update formtastic.css with new releases without clobbering your own changes.

This stylesheet forms part of the Formtastic Rails Plugin
(c) 2008 Justin French

--------------------------------------------------------------------------------------------------*/


/* NORMALIZE AND RESET - obviously inspired by Yahoo's reset.css, but scoped to just form.formtastic
--------------------------------------------------------------------------------------------------*/
form.formtastic, form.formtastic ul, form.formtastic ol, form.formtastic li, form.formtastic fieldset, form.formtastic legend, form.formtastic input, form.formtastic textarea, form.formtastic select, form.formtastic p { margin:0; padding:0; }
form.formtastic fieldset { border:0; }
form.formtastic em, form.formtastic strong { font-style:normal; font-weight:normal; }
form.formtastic ol, form.formtastic ul { list-style:none; }
form.formtastic abbr, form.formtastic acronym { border:0; font-variant:normal; }
form.formtastic input, form.formtastic textarea, form.formtastic select { font-family:inherit; font-size:inherit; font-weight:inherit; }
form.formtastic input, form.formtastic textarea, form.formtastic select { font-size:100%; }
form.formtastic legend { color:#000; }


/* FIELDSETS & LISTS
--------------------------------------------------------------------------------------------------*/
form.formtastic fieldset { }
form.formtastic fieldset.inputs { }
form.formtastic fieldset.buttons { padding-left:25%; }
form.formtastic fieldset ol { }
form.formtastic fieldset.buttons li { float:left; padding-right:0.5em; }

/* clearfixing the fieldsets */
form.formtastic fieldset { display: inline-block; }
form.formtastic fieldset:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
html[xmlns] form.formtastic fieldset { display: block; }
* html form.formtastic fieldset { height: 1%; }


/* INPUT LIs
--------------------------------------------------------------------------------------------------*/
form.formtastic fieldset ol li { margin-bottom:1.5em; }

/* clearfixing the li's */
form.formtastic fieldset ol li { display: inline-block; }
form.formtastic fieldset ol li:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
html[xmlns] form.formtastic fieldset ol li { display: block; }
* html form.formtastic fieldset ol li { height: 1%; }

form.formtastic fieldset ol li.required { }
form.formtastic fieldset ol li.optional { }
form.formtastic fieldset ol li.error { }
  

/* LABELS
--------------------------------------------------------------------------------------------------*/
form.formtastic fieldset ol li label { display:block; width:25%; float:left; padding-top:.2em; }
form.formtastic fieldset ol li li label { line-height:100%; padding-top:0; }
form.formtastic fieldset ol li li label input { line-height:100%; vertical-align:middle; margin-top:-0.1em;}


/* NESTED FIELDSETS AND LEGENDS (radio, check boxes and date/time inputs use nested fieldsets)
--------------------------------------------------------------------------------------------------*/
form.formtastic fieldset ol li fieldset { position:relative; }
form.formtastic fieldset ol li fieldset legend { position:absolute; width:25%; padding-top:0.1em; }
form.formtastic fieldset ol li fieldset legend span { position:absolute; }
form.formtastic fieldset ol li fieldset ol { float:left; width:74%; margin:0; padding:0 0 0 25%; }
form.formtastic fieldset ol li fieldset ol li { padding:0; border:0; }


/* INLINE HINTS
--------------------------------------------------------------------------------------------------*/
form.formtastic fieldset ol li p.inline-hints { color:#666; margin:0.5em 0 0 25%; }


/* INLINE ERRORS
--------------------------------------------------------------------------------------------------*/
form.formtastic fieldset ol li p.inline-errors { color:#cc0000; margin:0.5em 0 0 25%; }
form.formtastic fieldset ol li ul.errors { color:#cc0000; margin:0.5em 0 0 25%; list-style:square; }
form.formtastic fieldset ol li ul.errors li { padding:0; border:none; display:list-item; }


/* STRING & NUMERIC OVERRIDES
--------------------------------------------------------------------------------------------------*/
form.formtastic fieldset ol li.string input { width:74%; }
form.formtastic fieldset ol li.password input { width:74%; }
form.formtastic fieldset ol li.numeric input { width:74%; }


/* TEXTAREA OVERRIDES
--------------------------------------------------------------------------------------------------*/
form.formtastic fieldset ol li.text textarea { width:74%; }


/* HIDDEN OVERRIDES
--------------------------------------------------------------------------------------------------*/
form.formtastic fieldset ol li.hidden { display:none; }


/* BOOLEAN OVERRIDES
--------------------------------------------------------------------------------------------------*/
form.formtastic fieldset ol li.boolean label { padding-left:25%; width:auto; }
form.formtastic fieldset ol li.boolean label input { margin:0 0.5em 0 0.2em; }


/* RADIO OVERRIDES
--------------------------------------------------------------------------------------------------*/
form.formtastic fieldset ol li.radio { }
form.formtastic fieldset ol li.radio fieldset ol { margin-bottom:-0.6em; }
form.formtastic fieldset ol li.radio fieldset ol li { margin:0.1em 0 0.5em 0; }
form.formtastic fieldset ol li.radio fieldset ol li label { float:none; width:100%; }
form.formtastic fieldset ol li.radio fieldset ol li label input { margin-right:0.2em; }


/* CHECK BOXES (COLLECTION) OVERRIDES
--------------------------------------------------------------------------------------------------*/
form.formtastic fieldset ol li.check_boxes { }
form.formtastic fieldset ol li.check_boxes fieldset ol { margin-bottom:-0.6em; }
form.formtastic fieldset ol li.check_boxes fieldset ol li { margin:0.1em 0 0.5em 0; }
form.formtastic fieldset ol li.check_boxes fieldset ol li label { float:none; width:100%; }
form.formtastic fieldset ol li.check_boxes fieldset ol li label input { margin-right:0.2em; }



/* DATE & TIME OVERRIDES
--------------------------------------------------------------------------------------------------*/
form.formtastic fieldset ol li.date fieldset ol li,
form.formtastic fieldset ol li.time fieldset ol li,
form.formtastic fieldset ol li.datetime fieldset ol li { float:left; width:auto; margin:0 .3em 0 0; }

form.formtastic fieldset ol li.date fieldset ol li label,
form.formtastic fieldset ol li.time fieldset ol li label,
form.formtastic fieldset ol li.datetime fieldset ol li label { display:none; }

form.formtastic fieldset ol li.date fieldset ol li label input, 
form.formtastic fieldset ol li.time fieldset ol li label input, 
form.formtastic fieldset ol li.datetime fieldset ol li label input { display:inline; margin:0; padding:0;  }


/* -------------------------------------------------------------------------------------------------

Load this stylesheet after formtastic.css in your layouts to override the CSS to suit your needs.
This will allow you to update formtastic.css with new releases without clobbering your own changes.

For example, to make the inline hint paragraphs a little darker in color than the standard #666:

form.formtastic fieldset ol li p.inline-hints { color:#333; }

--------------------------------------------------------------------------------------------------*/

.formtastic {
  margin:0;
  padding:0;
}
.formtastic .check_boxes label {
    text-align: left;
    padding-left: 1em;
}
.formtastic .choices-group {
  width: 80%;
  padding-left: 10em;
}
.formtastic .inputs .hidden {
  display:none;
}
form.formtastic input, form.formtastic textarea, form.formtastic select { 
  padding:0.5em; 
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-style: inset;
  border-right-style: inset;
  border-bottom-style: inset;
  border-left-style: inset;
  border-color: initial;
-webkit-rtl-ordering: logical;
-webkit-user-select: text;
}
form.formtastic input[type="submit"], .submit {
  border: 2px outset; 
  border-top: 3px;
  background:#EDEFDF;
  width: 200px;
     
}
form.formtastic input[type="submit"]:hover, .submit:hover {
  border: 2px outset; 
  border-top: 3px;
  background:white;
     
}
form.formtastic input[type="submit"]:active, .submit:active {
  border: 1px inset;  
}
form.formtastic .input {
  width: 100%;
}


form.formtastic fieldset ol li.password input,
form.formtastic fieldset.inputs #user_email,
form.formtastic fieldset ol li.text textarea,
form.formtastic fieldset ol li.string input {
  width:56.5%;
}

.formtastic .inputs ol li fieldset legend span,
form.formtastic .date fieldset legend span{
  display:block;
  font-weight:normal;
  text-align:right;
  white-space:nowrap;
  color:#444343;
  width:25%;
  padding-top:0.2em;
}

form.formtastic fieldset ol fieldset ol {
    padding: 15% !important;
}
form.formtastic fieldset fieldset legend {
  background:none repeat scroll 0 0 transparent;
  border:medium none;
  left:-24px;
  top:33px;
}

.locations_attribute_country label
form.formtastic fieldset .label  {
  background:none;
  border:none;
  padding: 0.2em;
  width: 23% !important;
  text-align:right;
}                              
form.formtastic fieldset ol li label {
  padding-top: 0;
}

form.formtastic .date ol {
  margin-left:0.5em;
}

.formtastic .inputs {
	padding-top:1em;
  padding-bottom: 0em;
  width: 100%;
  margin-bottom: 0;
}                     
.formtastic .buttons,
.formtastic .actions {

  width: 100%;            
  padding-top:0.5em;
  margin:0;
  background: transparent;
}
.formtastic .short {
  width:120px !important;
}
.formtastic .inputs p.inline-hints  {
  color:#899286;
  font-size:80%;
  padding:0.5em;
  padding-top:0;
  clear:both; 
}
.formtastic .inputs .inline-errors {
  font-size:80%;
  padding:0.5em;
  padding-top:0;
}
.formtastic .inputs .error {
  background:none !important;
  border:none;
  width:100%;
}
.formtastic .error-tab {  
  border:1px solid #AA111A !important;
  border-bottom:none;
  background: #aa4949 !important;
}
.formtastic .error-tab a {
  color: white !important;
}
.formtastic .inputs .error input,
.formtastic .inputs .error textarea,
.formtastic .inputs .error select {  
  border:2px solid #AA111A; 
}
form.formtastic fieldset.buttons,
form.formtastic fieldset.actions {
  padding-left:40%;
  font-weight:bold;
  padding-bottom:1em;
  width:60%;
}

.formtastic .date ol li select {
  display:inline;
}

form.formtastic fieldset ol li.numeric input {
width:56.5%;
}

form.formtastic abbr, form.formtastic acronym {
  border:0 none;
  font-variant:normal;
  font-size:140%;
  color:#c39191;
}


.ac_results {
	padding: 0px;
	border: 1px solid black;
	background-color: white;
	overflow: hidden;
	z-index: 99999;
}

.ac_results ul {
	width: 100%;
	list-style-position: outside;
	list-style: none;
	padding: 0;
	margin: 0;
}

.ac_results li {
	margin: 0px;
	padding: 2px 5px;
	cursor: default;
	display: block;
	/* 
	if width will be 100% horizontal scrollbar will apear 
	when scroll mode will be used
	*/
	/*width: 100%;*/
	font: menu;
	font-size: 12px;
	/* 
	it is very important, if line-height not setted or setted 
	in relative units scroll will be broken in firefox
	*/
	line-height: 16px;
	overflow: hidden;
}

.ac_loading {
	background: white url('indicator.gif') right center no-repeat;
}

.ac_odd {
	background-color: #eee;
}

.ac_over {
	background-color: #0A246A;
	color: white;
}
