/* -------------------------------------------------------------------------------------------------

Load this stylesheet after formtastic.css in your layouts to override the CSS to suit your needs.
This will allow you to update formtastic.css with new releases without clobbering your own changes.

For example, to make the inline hint paragraphs a little darker in color than the standard #666:

form.formtastic fieldset ol li p.inline-hints { color:#333; }

--------------------------------------------------------------------------------------------------*/

.formtastic {
  margin:0;
  padding:0;
}
.formtastic .check_boxes label {
    text-align: left;
    padding-left: 1em;
}
.formtastic .choices-group {
  width: 80%;
  padding-left: 10em;
}
.formtastic .inputs .hidden {
  display:none;
}
form.formtastic input, form.formtastic textarea, form.formtastic select { 
  padding:0.5em; 
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-style: inset;
  border-right-style: inset;
  border-bottom-style: inset;
  border-left-style: inset;
  border-color: initial;
-webkit-rtl-ordering: logical;
-webkit-user-select: text;
}
form.formtastic input[type="submit"], .submit {
  border: 2px outset; 
  border-top: 3px;
  background:#EDEFDF;
  width: 200px;
     
}
form.formtastic input[type="submit"]:hover, .submit:hover {
  border: 2px outset; 
  border-top: 3px;
  background:white;
     
}
form.formtastic input[type="submit"]:active, .submit:active {
  border: 1px inset;  
}
form.formtastic .input {
  width: 100%;
}


form.formtastic fieldset ol li.password input,
form.formtastic fieldset.inputs #user_email,
form.formtastic fieldset ol li.text textarea,
form.formtastic fieldset ol li.string input {
  width:56.5%;
}

.formtastic .inputs ol li fieldset legend span,
form.formtastic .date fieldset legend span{
  display:block;
  font-weight:normal;
  text-align:right;
  white-space:nowrap;
  color:#444343;
  width:25%;
  padding-top:0.2em;
}

form.formtastic fieldset fieldset legend {
  background:none repeat scroll 0 0 transparent;
  border:medium none;
  left:-24px;
  top:33px;
}

.locations_attribute_country label
form.formtastic fieldset .label  {
  background:none;
  border:none;
  padding: 0.2em;
  width: 23% !important;
  text-align:right;
}                              
form.formtastic fieldset ol li label {
  padding-top: 0;
}

form.formtastic .date ol {
  margin-left:0.5em;
}

.formtastic .inputs {
	padding-top:1em;
  padding-bottom: 0em;
  width: 100%;
  margin-bottom: 0;
}                     
.formtastic .buttons,
.formtastic .actions {

  width: 100%;            
  padding-top:0.5em;
  margin:0;
  background: transparent;
}
.formtastic .short {
  width:120px !important;
}
.formtastic .inputs p.inline-hints  {
  color:#899286;
  font-size:80%;
  padding:0.5em;
  padding-top:0;
  clear:both; 
}
.formtastic .inputs .inline-errors {
  font-size:80%;
  padding:0.5em;
  padding-top:0;
}
.formtastic .inputs .error {
  background:none !important;
  border:none;
  width:100%;
}
.formtastic .error-tab {  
  border:1px solid #AA111A !important;
  border-bottom:none;
  background: #aa4949 !important;
}
.formtastic .error-tab a {
  color: white !important;
}
.formtastic .inputs .error input,
.formtastic .inputs .error textarea,
.formtastic .inputs .error select {  
  border:2px solid #AA111A; 
}
form.formtastic fieldset.buttons,
form.formtastic fieldset.actions {
  padding-left:40%;
  font-weight:bold;
  padding-bottom:1em;
  width:60%;
}

.formtastic .date ol li select {
  display:inline;
}

form.formtastic fieldset ol li.numeric input {
width:56.5%;
}

form.formtastic abbr, form.formtastic acronym {
  border:0 none;
  font-variant:normal;
  font-size:140%;
  color:#c39191;
}
