<% if @user %>
  <% if @user == current_user %>
    <div class="button new">
      <%= link_to t("group.new"), new_user_group_path %>
    </div>
  <% end %>
<% end %>             
<% if @groups and @groups.size > 0 %>
    <%= paginated_section @groups do %>
      <%= render :partial => "grouptable", :locals => { :collection => @groups } if @groups.size > 0 %>
    <% end %>
<% end %>