<ul>
  <% audits.each do |audit| %>
    <li>
      <% if audit.class.to_s == "Audit" %>
        <div class="action font-small">
          <% audit_text = auditText(audit) %>
					<% if audit_text %>
						<%= render :partial => "share/usermicro_flat", :locals => { :user => User.find(audit.user_id) } if audit.user_id %>
	          <%= audit_text %>						          
						<span class="date"><%=h distance_of_time_in_words(audit.created_at, Time.now) %> <%= t("ago") %></span>
					<% end %>
        </div>
      <% end %>
    </li>
  <% end %>
</ul>
