<span>
  <%= t("sortBy") %> 
  <%= render :partial => "share/search/sortlink", :locals => {
      :search => @usersearch,
      :field => 'login',
      :title => t("order.user")
    }
  %>
  <%= render :partial => "share/search/sortlink", :locals => {
      :search => @usersearch,
      :field => 'created_at',
      :title => t("order.date"),
      :params => params
    }
  %>
  <%# render :partial => "share/search/sortlink", :locals => {
      :search => @usersearch,
      :field => 'location_address',
      :title => t("order.location")
    }
  %>
</span>
