<ul id="followings">
<% @followings.each do |f| %>
  <li><%=
     case f.followable.class.to_s
     when "User"
      render :partial => "share/usertiny", :locals => { :user => f.followable }
     when "Item"
      render :partial => "share/itemtiny", :locals => { :item => f.followable }
     when "Group"
      render :partial => "share/grouptiny", :locals => { :group => f.followable }
     end
  %></li>
<% end %>
</ul>