<h1><%=h t("title.welcome") %></h1>
<div class="sub2cols">
  <div class="subcol1">
    <ul class="font-bigger">
      <li>Tu', was Du willst.</li>
      <li>Gib', was Du geben m&ouml;chtest & soviel Du kannst.</li>
      <li>Sei Du selbst.</li>
      <li>Hilf' anderen und la&szlig; Dir helfen.</li>
    </ul>
    <%= link_to t "more" %>
    </p>
  </div>  
  <div class="subcol2">
    <h3><b><%= t("title.login") %></b></h3>
    <%# render :partial => "share/login" %>
  </div>  
</div>
<div class="clearfix"></div>
