<% content_for :head do %>
  <%# javascript_include_tag 'startpage' %>
  <%# stylesheet_link_tag 'global/startpage' %>
<% end %>

<h1><%=h t("title.welcome") %></h1>
<div class="sub2cols">
  <div class="subcol1">
    <h2>
      <b>iwyg</b> - the social "go happy"-network. here here you can do, what you like - for you and others.
    </h2>
    <div class="box ui-corner-all">
      <cite>The mind is rich of what he receives, the heart of what it gives.</cite>
    </div>
    <div class="right font-smaller">
      (Victor Hugo)
    </div>
  </div>  
  <div class="subcol2">
    <h3><b><%= t("title.login") %></b></h3>
    <%= render :partial => "share/login" %>
  </div>  
</div>