<h1><%=h t("title.welcome") %></h1>
<div class="sub2cols">
  <div class="subcol1">
    
  </div>  
  <div class="subcol2">
    <h3><b><%= t("title.login") %></b></h3>
    <%= render :partial => "share/login" %>
  </div>  
</div>
<div class="clearfix"></div>
