<%= t("mailer.ping.hello") %> <%= @user.login %>,<br />
<br />
<%= @subject %><br />
<br />
Visit profile of <a href="<%= @user_url %>" ><%= @holder.login %></a><br />
Visit <a href="<%= @resource_url %>" >resource</a> of <%= @holder.login %><br />
<br />
<br />
Yours<br />
IWYG
