<p>
  <b>Keyword:</b>
  <%=h @search.keyword %>
</p>

<p>
  <b>User:</b>
  <%=h @search.user_id %>
</p>


<%= link_to 'Edit', edit_search_path(@search) %> |
<%= link_to 'Back', searches_path %>