/**
 * Divider elements style definition.
 * 
 * @author Christian Grlica
 * @copyright 2009 by Heavenseven, www.heavenseven.net 
 */
 
.shaded {
  border-top:1px solid #a1aa9d;
  border-left:none;
  border-right:none;
  height:2px;
  margin:0px;
}