/*
Font normalization
fonts.css from the YUI Library: developer.yahoo.com/yui/
Please refer to developer.yahoo.com/yui/fonts/ for font sizing percentages
*/
body { font:13px sans-serif; *font-size:small; *font:x-small; line-height:1.22; }
table { font-size:inherit; font:100%; }
select, input, textarea { font:99% sans-serif; }


.font-small {
  font-size:90%;  
}
.font-smaller {
  font-size:80%;  
}
.bold {
  font-weight:bold;
}
.hint {
  font-size:90%;
  color:#6b716a;
}
