/* LOCATION */

.location {
    height: 200px;
}

/* QR */
#qrcode {
		display: none;
    width: 128px;
    float:right;
    position: relative;
    top: -170px;
    right: 60px;
}

.item-collection li img {
    padding-right:0.5em;
}

.item-owner a {
    position: relative;
    left: 65px;
    top: 2px;
}

.item-bottom {
    text-align:left;
    font-size:85%;
		height: 40px;
}
.item-bottom .distance {
	display: block;
}
.item-bottom .distance:hover a {
	cursor: default;
}
#items-related {

}                   
#items-related ul {
    clear:both;
    width: 100%;
    height: 120px;
}

#items-related ul li {
    width: 25%;
    float:left;
    margin-right: 0.5em;
    border: 1px solid #B8C2B3;
    background: #D8E0D0;
}
