/**
 * Link element style definition.
 * 
 * @author Christian Grlica
 * @copyright 2009 by Heavenseven, www.heavenseven.net 
 */
 
 
a {
  color:#555555;
  text-decoration:none;
}
a:hover {
  text-decoration:underline;
}
.icon-arrow-down {
    background: transparent url(/assets/global/arrow_down_blue.gif) no-repeat center right;
    padding-right:1em;
}
.button {
  margin:0.5em;
  margin-left:0;
}
li.button {
  display:inline;
}
.button a {
  padding:0.2em;
  border:1px solid #A4B895; 
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  line-height:2em; 
  -moz-box-shadow:1px 1px 2px #969E93;
  -webkit-box-shadow:1px 1px 2px #969E93;
  box-shadow:1px 1px 2px #969E93;
    background: #edefdf; /* Old browsers */
    background: -moz-linear-gradient(top,  #edefdf 0%, #d3d6ad 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#edefdf), color-stop(100%,#d3d6ad)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #edefdf 0%,#d3d6ad 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #edefdf 0%,#d3d6ad 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #edefdf 0%,#d3d6ad 100%); /* IE10+ */
    background: linear-gradient(top,  #edefdf 0%,#d3d6ad 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#edefdf', endColorstr='#d3d6ad',GradientType=0 ); /* IE6-9 */

}
.button a:hover {
  background:white none repeat scroll 0 0;
  border:1px solid #b5e095;
  text-decoration:none;
}


.new a {
  padding:0.5em;
  padding-left:2em;
  background:#EDEFDF url("/assets/icons/icon_button_add.png") 0px  1px no-repeat;
}

.new a:hover {
  background:white url("/assets/icons/icon_button_add.png") 0px  1px no-repeat;
}

.edit {
  padding:0.5em;
  padding-left:2em;
  background-image: url("/assets/icons/icon_button_edit.png");
  background-repeat: no-repeat;
}
.preferences {
  padding:0.5em;
  padding-left:2em;
  background-image: url("/assets/icons/icon_button_preferences.png");
  background-repeat: no-repeat;
}
.edit a:hover {
  background:white url("/assets/icons/icon_button_edit.png") 9px  8px no-repeat;
}
