/* ITEMS */


.list-item {
    padding:0.5em;
    margin:0.5em;
    float:left;
    width:150px;
    min-height:175px;
    border:1px solid #b8c2b3;
    background:#d8e0d0;
    text-align:right;
}
.list-item:hover {
    border:1px solid #A1AA9D;
}
.list-item .item-status {
    font-size:75%;
    white-space: nowrap;
		padding: 3px;
		color: white;
		text-align: center;
}
.list-item .item-status a {
		color: white;
}
.offers .item-status {
	background: #62B462;
}
.needs .item-status {
	background: #B86748;	
}
.list-item .image {
    text-align:center;
    border:1px solid transparent;
    height:50px;
}
.list-item #description {
    clear:left;
    text-align:left;
}
.list-item .image:hover {
}
.list-item p {
    text-align:left;
}
.list-item .menu {
}
.list-item #user-options {
    display:none;
    position:relative;
    font-size:80%;
}
.list-item .image-big {
    height:100px;
    width:150px;
    overflow:hidden;
    margin-bottom: 0.4em;
    background: #D6DACA;
}
.list-item .details {
    height:100px;
    line-height:1em;
    font-size:100%;
    overflow:hidden;
    margin-bottom:0.5em;
}
.list-item .created-at {
    bottom:0;
    font-size:70%;
    height:0;
    margin:0;
    padding:0;
    position:relative;
}
.list .item li {
    vertical-align:top;
}
.list .description {
    height:100px;

}
.list .block {
    display:block;
}

/* Resources preview */

.preview span{
    float:left;
    padding:0.5em;
}
.list .preview .item ul {
    width:120px;
}

.preview .title {
    width:120px;
}

.preview .description {
    width:240px;
}

.preview,
.preview .item {
    clear:both;
}

.pagebrowser {
    clear:both;
} 
/* PINGS */

.list .accepted,
.ping .accepted {
    background:#9acd32;
}
.list .declined {
    background:#bc3030;
}
.list .opened {
    background:#c6cbbb;
}
.list .closed {
    display:none;
}

.list .ping  {
    padding:0.5em;
    border: 1px solid #D6DACA;
    margin-bottom: 0.5em;
}
.list .ping .info {
    float:right;
    text-align:right;
    position:relative;
    top:-4em;
} 
.ping .accepted {
    color:green;
}
.ping .declined {
    color:red;
}

/* COMMENTS */
