/* Notifications */

#notifications {
	position: absolute;
	clear: both;
	right: 2.5%;
	top: 8.3em;
}
#notifications-count {
	font-weight: bold;
	font-size: 0.8em;
	background: #00A3FF;
	color: white;	
	left: -0.3em;
  position: absolute;
  top: -0.3em;
	width: 15px;
	height: 15px;
	text-align: center;
}
#notification-panel {
	display: none;
	position: relative;
	z-index:99;
	left: 22.3em;
	top: 2px;
	float: right;
	width: 350px;;
}

#notification-icon {
	background: green;
	width: 15px;
	height: 15px;
	padding: 0.5em;
	cursor: pointer;
}

#notification-icon:hover {
	background: #129B12;
}

#notification-list {
	text-align: left;
	position: relative;
	font-size: 0.9em;
	right: 22em;
}

#notification-list li {
	padding: 0.3em;
}

#notification-list li:hover {
}
#notification-list .read a {
	color: grey;
}

#notification-list li img {
	float:left;
	margin-right: 0.5em;
}

#notification-list .divider {
	margin-bottom: 0;
}

#notification-arrow {
	position:relative;
	left: 0.3em;
	top: 2px;
}

#notification-arrow .arrow-up {
	border-bottom:10px solid #B8C2B3;
}

/* Mainnavigation */

#mainnavigation {
    color: white;
    font-size: 160%;
    font-weight: bold;
    text-align: left;
}

#mainnavigation a {
  color: #3F1504;
  font-weight:bold;
  text-decoration:none;
}
#mainnavigation li {
  padding:0.5em;
  height:25px;
}
#mainnavigation li:hover {  
  cursor:hand;
}
#mainnavigation a:hover {
  color: white;  
}
#mainnavigation .menu .submenu {
  position:absolute;
  z-index:999;
  font-size:90%;
  background:#D8E0D0;
  padding:.2em;
  min-height:120px;
  display:none;
  clear:both;
}

#mainnavigation .menu .submenu a {
  color: #0B0D14;  
  font-size:12pt;
}
/*
#mainnavigation .menu #resources:hover .submenu {
  display:block !important;
}
*/
#mainnavigation .menu .submenu li {
  float: none;
  height:.5em;       
}
