/* setting visibility on pings */

.ping .setting-visibility {
	position: absolute;
	left: 90%;
	z-index: 2; 
	display:none;
}
.ping:hover .setting-visibility {
	display:block
}
.ping .setting-visibility:hover {
	cursor: pointer;
}
.ping .setting-visibility .panel {
	position: relative;
	text-align: left;
	width: 100px;
	right: 5em;
	top: -8px;
	display:none;
}
.ping .setting-visibility .panel .button {
	line-height: 1.5em;
}
.ping .setting-visibility .panel .setting-arrow {
	position: relative;
	top: 5px;
	left: 4.9em;
		
}
.ping .setting-visibility .panel .setting-arrow .arrow-up {
	border-bottom: 5px solid #A4B895;
}
