/* setting visible_for on pings */

.ping .setting-visible_for {
	position: absolute;
	left: 90%;
	z-index: 2; 
	display:none;
}
.ping:hover .setting-visible_for {
	display:block
}
.ping .setting-visible_for:hover {
	cursor: pointer;
}
.ping .setting-visible_for .panel {
	position: relative;
	text-align: left;
	width: 100px;
	right: 5em;
	top: -8px;
	display:none;
}
.ping .setting-visible_for-icon:hover .panel {
	display:block;
}
.ping .setting-visible_for .panel .current {
	background: url('/assets/icons/icon_setting_set.png') right center no-repeat;
	color: white;
}
.ping .setting-visible_for .panel .explanation {
	font-style: italic;
}
.ping .setting-visible_for .panel .button {
	line-height: 1.5em;
}
.ping .setting-visible_for .panel .setting-arrow {
	position: relative;
	top: 5px;
	left: 4.9em;
		
}
.ping .setting-visible_for .panel .setting-arrow .arrow-up {
	border-bottom: 5px solid #A4B895;
}
