.sub2cols {
  clear:both;
  width:100%;
  position:relative;
}

.sub2cols .subcol1 {
  float:left;
  width:49%;
  min-height: 1px;
}

.sub2cols .subcol2 {
  width:49%;
  min-height:20px;
  float:left; 
  min-height: 1px;
}

.sub2cols #userdescription {
  width:160px;
}
.sub2cols #userarea {
  width:75%;
}
.sub2cols #usermailbox {
  width:160px;
}
.sub2cols #usermessages {
  margin-left:10em;
  padding-left:0.5em;
  border-left:1px solid #cbcec0;
}
.sub2cols #usermessages {
	width: 90%;
}

