ul.tabs {
	margin: 0;
	padding: 0;
	list-style: none;
	height: 32px;
	border-bottom:1px solid #c8d4c3;
	width: 100%;
}
ul.tabs li {
	float: left;
	margin: 0;
	padding: 0;
	height: 31px;
	line-height: 31px;
	border-left: none;
	margin-bottom: -1px;
	background: #e0e0e0;
	overflow: hidden;
	position: relative;
	border: 1px solid #C1CCBD;
	border-top:1px solid #c8d4c3;
}
ul.tabs li a {
	text-decoration: none;
	display: block;
	font-size: 1.0em;
	font-family:"Georgia", serif;
	padding: 0 1em;
	border: 1px solid #C1CCBD;
	border-right:1px solid #A1AA9D;
	outline: none;
}
ul.tabs li a:hover {
	background: #C1CCBD;
	color: #000;
}	
html ul.tabs li.active, html ul.tabs li.active a:hover  {
	background: #C1CCBD;
	color: #000;
	border-bottom: 1px solid #C1CCBD;
	
}
.tab_content {
}