/**
 * Users page style definition.
 * 
 * @author Christian Grlica
 * @copyright 2009 by Heavenseven, www.heavenseven.net 
 */

#userarea {
  padding:0.5em;
  padding-top:0em;
  padding-left:1em;
  margin-bottom:1em;
}

#userarea .usermenu {
}
#userarea .usermenu ul {
  padding:0.5em;
  padding-top:0em;
  padding-left:0em;
  margin:0em;
}
#userarea .usermenu ul li {
  font-weight:bold;
  color:white;
  padding-right:0.5em;
  padding:0.6em;
  border:1px solid #abb6a8;
  background:#794D4D;
}
#userarea .usermenu ul li a {
  text-decoration:none;
  color:#abb6a8;
  height:30px;
}

#userarea .usermenu ul li:hover a {
  color:white;
}
#userarea #accordion {
  padding-top:0;
}

#userdescription {

}

#userdescription #avatar{
  padding:0.2em;
  background:#abb6a8;
  text-align:center;
  
}

.username {
  margin:0;
}