<div class="itemtype">
  <span class="image">
    <%= image_tag "/images/icons/icon_#{@item.itemtype}.png" %>
  </span>
  <span>
    <%= item.localized_itemtype.html_safe %>
  </span>
  <% if @item.multiple? %>
    <span>
      <%= image_tag('/images/icons/icon_item_multiple.png', :alt => t("resources.multiple").html_safe, :title => t("resources.multiple").html_safe) %>
    </span>
  <% end %>
</div>