<span>
  <%= t("sortBy") %> 
  <%# render :partial => "orderElement", :locals => { :key => :title, 
                                                      :label => t("order.title")
                                                    } 
  %>
  <%= sort_link @search, 'title', t("order.title") %>
  <%# render :partial => "orderElement", :locals => { :key => :created_at, 
                                                      :label => t("order.date")
                                                    } 
  %>
  <%# render :partial => "orderElement", :locals => { :key => :location_city,
                                                      :label =>  t("order.location")
                                                    } 
  %>
</span>