<div id="follows" class="box ui-corner-all">
	<% if followers_count and followers_count > 0 %>
		<div id="followers-count">
			<span>
				<%= image_tag("icons/icon_followers.png", alt: t("followed_by"), title: t("followed_by")) %>&nbsp;
			</span>
			<span><%= t("followed_by") %></span>
			<span class="font-small">(<%= followers_count %>)</span>
		</div>
		<div id="followers">
			<% followers.each do |follower| %>
				<%= link_to image_tag(microThumb(follower)), user_path(follower), title: follower.login %>
			<% end %>
		</div>
	<% end %>
</div>
