<li class="button button-small unfollow" id="unfollowbutton">
	<%= link_to t("unfollow"), self.send("unfollow_#{model_type.downcase}_path", user: user, model_id: model_id, model_type: model_type),method: :put, remote: true %>
</li>