/**
 * General style definition.
 * 
 * @author Christian Grlica
 * @copyright 2011 by Heavenseven, www.heavenseven.net 
 */

/* ui-datepicker */

#ui-datepicker-div {
  padding:0;
  display:none;
}

/* css for timepicker */
.ui-timepicker-div { font-size:90%; padding:0.3em; }
.ui-timepicker-div .ui-widget-header{ margin-bottom: 8px; }
.ui-timepicker-div dl{ text-align: left; }
.ui-timepicker-div dl dt{ height: 25px; }
.ui-timepicker-div dl dd{ margin: -25px 0 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-datepicker-buttonpane .ui-priority-primary,
.ui-datepicker-buttonpane .ui-priority-secondary { font-size: 90%; font-weight: normal; }

