/* 
    Document   : mailer
    Created on : 23.01.2012, 17:22:20
    Author     : christian
    Description: Stylesheet of sending html emails.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

body {
    background: white;
    font-family: Georgia, serif;
    font-size: 12px;
}

