@media only screen 
and (min-width : 1824px) {
/* Styles */
}

@media only screen 
and (min-width : 1224px) {
/* Styles */
}

@media only screen 
and (min-width : 768px) 
and (max-width : 1024px) {
	#content {
		width: 92.5%;
	} 
	.sub2cols #userarea {
		width: 74%;
	}
}

@media only screen 
and (max-width : 830px) {
	
	
	#notifications {
		right: 3%;
		top: 9.2em;
	}

	#notification-arrow {
		left: -4.2em;
	}

	#notification-panel {
		width: 250px;
	}

	#notification-list {
		right: 23em;
	}

	.ui-listbuilder-items {
		overflow: shown !important;
		width: auto;
	}	

	.ui-tabs {
		padding: 0em;
	}
	
	#content {
		width: 90%;
	}

	.ui-tabs .ui-tabs-nav li a,
	.ui-tabs .ui-tabs-nav li,
	.sub2cols .subcol2,
	.sub2cols .subcol1,
	#col1, #col2 {
		width: 100%;
	}

	body {
		font-size:80%;
	}
	.list-item {
		width: 110px;
	}
	.sub2cols #userarea {
		width: 58%;	
	}

	.sub2cols #usermessages {
		width: 75%;
	}

	h2 {
		font-size: 125%;
		margin-bottom: 0.3em;
	}
	.new {
	max-width: 180px;
	}
	#topnavigation {
		top: 1em;
		right: 2em;
		padding: 0.3em;
	}
	#search {
		margin-top: 3.6em;
		position: relative;
		left: 4%;
		font-size: 90%;
	}
	#search #searchform {
		max-width: 350px;
	}
	#search .search-field {
		max-width: 30%;
	}
	#search .search-field input,
	#search .search-field select {		
		width: 120px;
	}
	#search label {
		top: 2px;
	}
	#search .search-field #q_need_eq {
		width: 107px;
	}
	#search #submit-search {
		position: absolute;
		top: 5px !important;
		left: 96%;
		width: 17px;
	}
	#search #searchextended {
		margin-top: 2em;
	}
	#search #searchmenu {
		font-size: 75%;
		left: -12em;
		position: relative;
		top: 4em;
	}
	#search #searchmenu a {
		text-decoration:none;
	}		
	#search #searchmenu a:hover {
		text-decoration:none;
		font-style: italic;
	}	
	#logo {
		left: 4%; 
		top: 7px;
	}
	#logo a img {
		width: 45px;
	}
	.list-item .image-big {
		width: 100px;
	}

}

@media only screen 
and (max-width : 480px)
and (max-width : 700px) {

	#notifications {
		top: 11em;
	}

	.sub2cols #usermessages {
		margin: 0;
		padding: 0;
		border: none;
	}

	#mainnavigation {
		margin-bottom: 1em;
		margin-top: 0.3em;
	}
	
	#search {
		margin-top: 3.1em;
			left: 4%;
	}

	.sub2cols #userarea,
	.sub2cols #userdescription,
	.sub2cols #usermailbox {
		width: 100%;
	}

	.sub2cols #userdescription {
		margin-bottom: 2em;
	}

	#userarea {
		padding: 0em;	
	}

	form.formtastic input[type="submit"], .submit {
		width: auto;
	}
}

@media only screen 
and (max-width : 320px)  {

		.socialcount > li {
			padding: 0px;
		}
	
		.social-icon {
			background-size: 89px !important;
		}

		#search {
			margin-top: 3.1em;
			left: 4%;
			text-align: center;
			font-size: 90%;
			position: relative;
			top: -20px;
		}

		#search #submit-search {
			left: 83%;
			margin-top: 2.3em;
		}

		#search #searchform #q_title_cont {
			left: -20px;
			position: relative;
		}
	
		#search #searchmenu {
			font-size: 75%;
			left: 10%;
			position: absolute;
			top: 6em;
		}

		#search #searchextended {
			text-align: left;
		}
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-pixel-ratio : 1.5),
only screen and (min-pixel-ratio : 1.5) {
/* Styles */
}	
