<p>Willkommen <%= @resource.email %>!</p>
<p>Du kannst deinen Account mit diesem Link bestätigen:</p>
<p><%= link_to 'Account bestätigen', user_confirmation_url(:confirmation_token => @resource.confirmation_token) %></p>
<br />
<p>Dein iwyg-Team</p>

