<% if location and (location.country || request.location.country) and (location.city || request.location.city) %>
  <span class="font-smaller">
    <%= location.city || request.location.city %>
		<% @country = location.country || request.location.country %> 
    <% if not @country.blank? %> <%= t(@country, :scope => "countries" ) %><% end %> 
  </span>
<% end %>
