<% if location and (location.country || location.city) %>
  <span class="font-smaller">
    <%= location.city if not location.city.blank? %>
		<% @country = location.country || request.location.country %> 
    <%= t(@country, :scope => "countries" ) if not @country.blank? %> 
  </span>
<% end %>
