<center>
	<div id="map" style="width: 90%;height: 300px;margin: 10px 0 10px 0;-webkit-box-shadow: #AAA 0px 0px 15px;"></div>
	<p class="font-smaller" style="color: #666;">
	<%= t("formtastic.hints.location.map") %>	
	</p>
	<br />
</center>

