<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
  
  <div id="content">
    <%=  yield %>
  </div>
<div id="greeting">
	<br />
<% if I18n.locale == :de %>
Dein
<br />
IWYG-Team
<% elsif I18n.locale == :en %>
Yours
<br />
IWYG-Team
<% end %>
</div>
</html>
